<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers :: head(title='Lists')"></head>
<body>
<div id="wrapper" class="animate">
    <div class="container-fluid">
        <h3>Category:
            <a href="category.html"
               th:href="@{'/category/'}"
               th:text="${categoryName}">
            </a>
        </h3>
        <form class="form-horizontal" th:action="@{'/createNewList/' + ${currentCategory}}" th:object="${newList}" method="POST">
            <fieldset>

                <!-- Form Name -->
                <legend>Add new list</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">List name</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text"
                               placeholder="Home tasks... , Work tasks..." class="form-control input-md"
                               th:field="${newList.name}">
                        <!--<span class="help-block">enter list name here</span>-->
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="Create">
                    </div>
                </div>

            </fieldset>
        </form>
        <div class="row" th:if="${not #lists.isEmpty(listOfCategoryLists)}">
            <div class="col" th:each =" categoryList : ${listOfCategoryLists}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${categoryList.name}">
                            <a href="lists.html"
                               th:href="@{'/singleList/' + ${currentCategory}+ '/' + ${categoryList.name}}"
                               th:text="${categoryList.name}">
                            </a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet</h6>
                        <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
                        <a href="lists.html"
                           th:href="@{'/singleList/' + ${currentCategory}+ '/' + ${categoryList.name}}"
                           th:text="${categoryList.name}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>